<div class="newsletter-signup">
    <p>Join our email marketing list and stay informed of the latest news and promotions, and receive <strong>20% off your next order.</strong></p>

    <input name="newsletter-signup"  type="checkbox" data-bind="checked: newsletterSignup, click: newsletterUpdate, afterRender: newsletterSignupLoad" />

</div>
<div class="third-party">
    <p>
        From time to time Cox &amp; Cox may make names and addresses from our mailing
        list available to carefully selected companies whose products may interest you.
        If you would prefer to have your name withheld please tick this box:
    </p>
    <input name="third-party"  type="checkbox" data-bind="checked: thirdParty, click: thirdPartyUpdate, afterRender: thirdPartyLoad" />
</div>
<div class="postal-mailings">
    <p>
        Postal Mailings
    </p>
    <input name="postal-mailings" type="checkbox" data-bind="checked: postalMailings, click: postalMailingsUpdate, afterRender: postalMailingsLoad" />
</div>
